.main-div {
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    border: 1px black solid;
    margin: auto;
}

.grid-square {
    box-sizing: border-box;
    border: 1px dotted rgba(0, 0, 0, 0.055);
    user-select: none;
}